<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body>

<h2>Items</h2>

<form action="/submittodoitem" method="POST">
    <input type="text" name="item_Name" placeholder="Enter Item_Name"><br><br>
    <input type="text" name="item_description" placeholder="Enter Item_Description"><br><br>
    <input type="number" name="item_id" placeholder="Enter Item_ID"><br><br>
    <input type="number" name="item_uuid" placeholder="Enter Item_UUID"><br><br>
    <input type="text" name="item_hash" placeholder="Enter Item_Hash"><br><br>

    <button type="submit">Add</button>
    
</form>

</body>
</html>